@import url("https://fonts.googleapis.com/css?family=Gayathri:100,400,700|Playfair+Display:400,400i,700,700i,900,900i|Raleway:300,400,600,700,900&display=swap&subset=cyrillic,latin-ext");
@import url("components/card.css");
@import url("components/dropdown-menu.css");

/* Basic styling */

body{
	font-family: Playfair Display, serif;
	font-size: 62.5%;
  font-size: 14px;
	margin: 0px;
}
h1 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 34px;
}

h2,h3{
  font-family: Raleway, sans-serif;
	font-weight: 300;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
a{
  font-family:Raleway, sans-serif;
	text-decoration: none;
  font-weight: 400;
  color: #34343c;
  font-size: 1.2rem;
}

a:hover {
  font-weight: 600;
}

/* Horizontal line */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

/* Banner */

.banner{
  background-image: linear-gradient(-1000deg, rgba(101, 171, 191, 0.18) 0%, rgba(235, 245, 247, 0) 50%), url("../images/background.jpeg");
  background-position: center;
  background-size: cover;
  padding: 110px 0px;
  background-position: 50% 50%;
}

/* Belt */

.belt{
  height: 6rem;
  background-color: #5882884f;

}
/* Menu styling */

.menu-list {
  height: 96px;
  float: right;
  display: flex;
  align-items: center;
}

.menu-link {
  padding: 0.7rem 1rem;
}

/* Footer menu */

.footer-list {
  height: 96px;
  float: left;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.footer-link {
  padding: 0.7rem 1rem;
}


/* Responsivness with show more arrow - arrow not functional*/

.arrow{
  font-size: 20px;
  float: right;
  margin-top: 15px;
  margin-bottom:15px;
  margin-right: 45px;
  border-style: none;
  color: #34343c;
  cursor: pointer;
}

.arrow-content {
    display:none;
}








